.body {
    font-size: large;
}
.header {
    color: brown;
}
.text {
    color: aqua;
}
#unicalni {
 color:red
}
.list {
    width: 450px;
    margin: 30px auto;
}
.list__item {
width: 100px;
float: left;
margin-left: 50pxs;
}